doctype html
html(lang="fr")
    head
      meta(charset="utf-8")
      meta(http-equiv="X-UA-Compatible", content="ie=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      title Show students
    body
      header: include menu.pug
      main: include main.pug
      footer: include footer.pug
      
      